<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting</title>
    <link rel="shortcut icon" href="./images/video-chat.png" type="image/x-icon">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="./plugins/bootstrap.min.css">
    <link rel="stylesheet" href="./style/meeting.css">
    <script>
        const ROOM_ID = "<%= roomId %>"
        const USER_ID = "<%= userId %>"
    </script>
    <script src="./plugins/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/script.js" defer></script>
    <script src="./js/messages.js" defer></script>
</head>

<body>
    <div class="grid_box">
        <!------------- start header  ------------->
        <header class="meet_head">
            <!-- start meeting information -->
            <div class="metting_info_container">
                <button class="metting_info_btn"><i class="fad fa-exclamation-circle"></i></button>
                <div class="metting_info"></div>
              
            </div>
            <!-- end meeting information -->

            <!-- start meeting host -->
            <p class="room_name">elgaml's room</p>
            <!-- end meeting host -->


            <!-- start toggle btn for aside -->
            <button class="toggle_aside"><i class="fad fa-cog"></i></button>
            <!-- end toggle btn for aside -->
        </header>
        <!------------- end header  ------------->


        <!------------- start content   ------------->
        <div class="content">
            <!------------- start contacts video ------------->
            <div class="contact_video_grid" id="contact_video_grid" >
                <!-- <div class="contact_video">
                    <video src="./images/The World in HDR in 4K (ULTRA HD).mkv"></video>
                    <p class="contact_name"></p>
                </div> -->
            </div>
            <!-------------- end contacts video -------------->


            <!-------------- start share screen video ------------>
           <div class="share_screen_prev" id="share_screen_prev" >
                <div class="contact_video">
                    <video id="share_video" src="" autoplay></video>
                    <p class="contact_name"></p>
                </div>
            </div>
            <!----------- end share screen video ----------------->

            <!--------------- start meeting options ----------------->
            <div class="meet_options">
                <button class="option audio_mute_btn"><i class="fad fa-microphone"></i></button>
                <button class="option video_mute_btn"><i class="fad fa-video"></i></button>
                <%if(roomId == userId){%>
                    <button class="option" id="start_share_screen"><i class="fad fa-share-square"></i></button>
                <%}%>
                <button class="option" id="open_pint"><i class="fad fa-chalkboard"></i></button>
                <button class="option full_screen" id="full_screen"><i class="fad fa-compress"></i></button>
                <a href="http://localhost:8000/leave/<%=userId %>" class="option option_exit"><i class="fad fa-sign-out"></i></a>
            </div>
            <!--------------- end meeting options ----------------->
        </div>
        <!----------------- end content   --------------->


        <!----------------- start aside ----------------->
        <aside class="meet_aside">
            <div class="users">
                <h3 class="fs-5"><span><i class="fad fa-users"></i></span>participants</h3>
                <!-- start users container -->
                <div class="users_container">
                    <!-- start users item (card) -->
                    <!--<div class="user_item">
                        <img src="" alt="">
                        <p class="user_name">mostafa elgaml</p>
                        <div class="options">
                            <span><i class="fad fa-microphone"></i></span>
                            <span><i class="fad fa-video"></i></span>
                        </div>
                    </div>-->
                    <!-- end users item (card) -->
                </div>
                <!-- end users container -->
            </div>
            <div class="messages">
                <h3 class="fs-5"> <span><i class="fad fa-comments"></i></span>Chat</h3>
                <!-- start messages container -->
                <div class="messages_container" id="mess_cont">
                    <!-- start messages item (card) -->
                    <!-- <div class="message_item">
                        <p class="user_name">mostafa elgaml</p>
                        <p class="message_content">hello, this is my first message</p>
                    </div>
                     -->
                    <!-- end messages item (card) -->
                </div>
                <!-- end messages container -->

                <!-- start message input -->
                <div class="message_input">
                    <input type="text" class="mess_input" placeholder="message">
                    <button type="submit" class="send_mess"><i class="fad fa-paper-plane"></i></button>
                </div>
                <!-- end message input -->
            </div>
        </aside>
        <!----------------- end aside ----------------->
    </div>

    <!-- start laoding page -->
    <div class="loading_container">
        <div class="wrapper">
            <div class="box-wrap">
                <div class="box one"></div>
                <div class="box two"></div>
                <div class="box three"></div>
                <div class="box four"></div>
                <div class="box five"></div>
                <div class="box six"></div>
            </div>
        </div>
    </div>
    <!-- start laoding page -->


    <!------------ start alerts  -------------->
    <!-- <div class="msg_container">
        <div class="msg info-msg">
            <i class="fas fa-info-circle"></i>
            This is an info message.
            <i class="hide_not fas fa-times"></i>
        </div>

        <div class="msg success-msg">
            <i class="fas fa-check"></i>
            This is a success message.
            <i class="hide_not fas fa-times"></i>
        </div>

        <div class="msg warning-msg">
            <i class="fas fa-exclamation-triangle"></i>
            This is a warning message.
            <i class="hide_not fas fa-times"></i>
        </div>

        <div class="msg error-msg">
            <i class="fas fa-times-circle"></i>
            This is a error message.
            <i class="hide_not fas fa-times"></i>
        </div>
    </div> -->
    <!------------ END alerts  ----------------->
  
  
  
    <!------------ start whiteboard  ----------------->
    <div class="whiteboard">
        <div id="toolBar" class="toolbar">
            <div id="radiusTool" class="radius__tool">
              <span>RADIUS</span>
              <input type="range" name="radiusPoint" id="radiusPoint" class="radius__point" min="1" max="20" step="1" value="1">
              <span id="radTextRaduis">20</span>
            </div>
            <div id="radiusTool" class="radius__tool">
              <span>BLUR</span>
              <input type="range" name="radiusBlur" id="radiusBlur" class="radius__point" min="0" max="20" step="1" value="0">
              <span id="radTextBlur">0</span>
            </div>
            <div id="selectColors" class="select__colors">
              <input type="radio" name="radioColors" id="red" value="#FF0000">
              <label for="red" class="radio__colors"></label>
              <input type="radio" name="radioColors" id="blue" value="#2E8B57">
              <label for="blue" class="radio__colors"></label>
              <input type="radio" name="radioColors" id="green" value="#1E90FF">
              <label for="green" class="radio__colors"></label>
              <input type="radio" name="radioColors" id="yellow" value="#FFFF00">
              <label for="yellow" class="radio__colors"></label>
              <input type="radio" name="radioColors" id="pink" value="#FF69B4">
              <label for="pink" class="radio__colors"></label>
              <input type="radio" name="radioColors" id="gray" value="#A9A9A9">
              <label for="gray" class="radio__colors"></label>
              <input type="radio" name="radioColors" id="black" checked value="#111111">
              <label for="black" class="radio__colors"></label>
            </div>
            <div class="buttons__canvas">
              <button  id="clearCanvas" class="btn__clear"><i class="fad fa-trash-alt"></i></button>
              <button  id="closeCanvas" class="btn__close"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <canvas id="canvas">
            Sorry, your browser is rubbish.
          </canvas>
      </div>
    <!------------ END whiteboard  ----------------->


    
    <!--------------------- start scripts  --------------->
    <script src="./plugins/jquery.js" defer></script>
    <script src="./plugins/jquery.nicescroll.min.js" defer></script>
    <script src="./plugins/bootstrap.min.js"></script>
    <script src="./js/meeting.js" defer></script>
    <script src="./js/loadingpage.js" defer></script>
    <script src="./js/alert.js" defer></script>
    <script src="./js/scrollCustom.js" defer></script>
    <script src="./js/whiteboard.js" defer></script>
    <!--------------------- end scripts  ------------------>
</body>

</html>