<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting</title>
    <link rel="shortcut icon" href="./images/video-chat.png" type="image/x-icon">
    <link rel="stylesheet" href="./plugins/bootstrap.min.css">
    <link rel="stylesheet" href="./plugins/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./style/meeting.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script src="./plugins/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="./js/script.js" defer></script>
    <script src="./js/share-screen-handel.js" defer></script>
    <script src="./js/messages.js" defer></script>
</head>

<body>
    <div class="grid_box">
        <!------------- start header  ------------->
        <header class="meet_head">
            <!-- start meeting information -->
            <div class="metting_info_container">
                <button class="metting_info_btn"><i class="fad fa-exclamation-circle"></i></button>
                <div class="metting_info">
                    <div class="row meeting_host">
                        <h3 class="col-12 m-0 p-0 pb-3  text-uppercase fw-bold">mostafa elgaml's room</h3>
                    </div>
                    <div class="item row pt-2 justify-content-between">
                        <p class="col-3 p-0 fs-md-5  text-capitalize room_id_title">id :</p>
                        <p class="col-9 p-0 fs-md-5 m-0 room_id">800 120 334</p>
                    </div>
                    <div class="item row pt-2 justify-content-between">
                        <p class="col-3 p-0 fs-md-5  text-capitalize room_host_title">host :</p>
                        <p class="col-9 p-0 fs-md-5  m-0 room_host text-uppercase">mostafa elgaml</p>
                    </div>
                    <div class="item row pt-2 justify-content-between">
                        <p class="col-4 p-0  fs-md-5   text-capitalize room_passcode_title">passCode :</p>
                        <p class="col-8 p-0 fs-md-5  m-0 room_passcode">205574</p>
                    </div>
                    <div class="item row pt-2 justify-content-between">
                        <p class="col-3 p-0 fs-md-5 text-capitalize room_invite_title">invite :</p>
                        <p class="col-9 p-0 fs-md-5 m-0 room_invite">
                            https://us04web.zoom.us/j/7922818925?pwd=VWpoZTJOOWUrVjNWQmZUcDgrV3ltUT09</p>
                    </div>
                </div>
            </div>
            <!-- end meeting information -->

            <!-- start meeting host -->
            <p class="room_name">elgaml's room</p>
            <!-- end meeting host -->


            <!-- start toggle btn for aside -->
            <button class="toggle_aside"><i class="fad fa-cog"></i></button>
            <!-- end toggle btn for aside -->
        </header>
        <!------------- end header  ------------->


        <!------------- start content   ------------->
        <div class="content">
            <!------------- start contacts video ------------->
            <div class="contact_video_grid" id="contact_video_grid" >
                <!-- <div class="contact_video">
                    <video src="./images/The World in HDR in 4K (ULTRA HD).mkv"></video>
                    <p class="contact_name"></p>
                </div> -->
            </div>
            <!-------------- end contacts video -------------->


            <!-------------- start share screen video ------------>
           <div class="share_screen_prev" id="share_screen_prev" >
                <div class="contact_video">
                    <video id="share_video" src="" autoplay></video>
                    <p class="contact_name"></p>
                </div>
            </div>
            <!----------- end share screen video ----------------->

            <!--------------- start meeting options ----------------->
            <div class="meet_options">
                <button class="option audio_mute_btn"><i class="fad fa-microphone"></i></button>
                <button class="option video_mute_btn"><i class="fad fa-video"></i></button>
                <button class="option" id="start_share_screen"><i class="fad fa-share-square"></i></button>
                <button class="option" id="full_screen"><i class="fad fa-compress"></i></button>
                <button class="option"><i class="fad fa-sign-out"></i></button>
            </div>
            <!--------------- end meeting options ----------------->
        </div>
        <!----------------- end content   --------------->


        <!----------------- start aside ----------------->
        <aside class="meet_aside">
            <div class="users">
                <h3 class="fs-5"><span><i class="fad fa-users"></i></span>users</h3>
                <!-- start users container -->
                <div class="users_container">
                    <!-- start users item (card) -->
                    <div class="user_item">
                        <img src="./images/mostafa.png" alt="">
                        <p class="user_name">mostafa elgaml</p>
                        <div class="options">
                            <span><i class="fad fa-microphone"></i></span>
                            <span><i class="fad fa-video"></i></span>
                        </div>
                    </div>
                    <div class="user_item">
                        <img src="./images/mostafa.png" alt="">
                        <p class="user_name">mostafa elgaml</p>
                        <div class="options">
                            <span><i class="fad fa-microphone"></i></span>
                            <span><i class="fad fa-video"></i></span>
                        </div>
                    </div>
                    <div class="user_item">
                        <img src="./images/mostafa.png" alt="">
                        <p class="user_name">mostafa elgaml</p>
                        <div class="options">
                            <span><i class="fad fa-microphone"></i></span>
                            <span><i class="fad fa-video"></i></span>
                        </div>
                    </div>
                    <div class="user_item">
                        <img src="./images/mostafa.png" alt="">
                        <p class="user_name">mostafa elgaml</p>
                        <div class="options">
                            <span><i class="fad fa-microphone"></i></span>
                            <span><i class="fad fa-video"></i></span>
                        </div>
                    </div>
                    <div class="user_item">
                        <img src="./images/mostafa.png" alt="">
                        <p class="user_name">mostafa elgaml</p>
                        <div class="options">
                            <span><i class="fad fa-microphone"></i></span>
                            <span><i class="fad fa-video"></i></span>
                        </div>
                    </div>
                    <div class="user_item">
                        <img src="./images/mostafa.png" alt="">
                        <p class="user_name">mostafa elgaml</p>
                        <div class="options">
                            <span><i class="fad fa-microphone"></i></span>
                            <span><i class="fad fa-video"></i></span>
                        </div>
                    </div>
                    <div class="user_item">
                        <img src="./images/mostafa.png" alt="">
                        <p class="user_name">mostafa elgaml</p>
                        <div class="options">
                            <span><i class="fad fa-microphone"></i></span>
                            <span><i class="fad fa-video"></i></span>
                        </div>
                    </div>
                    <div class="user_item">
                        <img src="./images/mostafa.png" alt="">
                        <p class="user_name">mostafa elgaml</p>
                        <div class="options">
                            <span><i class="fad fa-microphone"></i></span>
                            <span><i class="fad fa-video"></i></span>
                        </div>
                    </div>
                    <div class="user_item">
                        <img src="./images/mostafa.png" alt="">
                        <p class="user_name">mostafa elgaml</p>
                        <div class="options">
                            <span><i class="fad fa-microphone"></i></span>
                            <span><i class="fad fa-video"></i></span>
                        </div>
                    </div>
                    <!-- end users item (card) -->
                </div>
                <!-- end users container -->
            </div>
            <div class="messages">
                <h3 class="fs-5"> <span><i class="fad fa-comments"></i></span>Chat</h3>
                <!-- start messages container -->
                <div class="messages_container" id="mess_cont">
                    <!-- start messages item (card) -->
                    <!-- <div class="message_item">
                        <p class="user_name">mostafa elgaml</p>
                        <p class="message_content">hello, this is my first message</p>
                    </div>
                     -->
                    <!-- end messages item (card) -->
                </div>
                <!-- end messages container -->

                <!-- start message input -->
                <div class="message_input">
                    <input type="text" class="mess_input" placeholder="message">
                    <button type="submit" class="send_mess"><i class="fad fa-paper-plane"></i></button>
                </div>
                <!-- end message input -->
            </div>
        </aside>
        <!----------------- end aside ----------------->
    </div>

    <!-- start laoding page -->
    <div class="loading_container">
        <div class="wrapper">
            <div class="box-wrap">
                <div class="box one"></div>
                <div class="box two"></div>
                <div class="box three"></div>
                <div class="box four"></div>
                <div class="box five"></div>
                <div class="box six"></div>
            </div>
        </div>
    </div>
    <!-- start laoding page -->


    <!------------ start alerts  -------------->
    <!-- <div class="msg_container">
        <div class="msg info-msg">
            <i class="fas fa-info-circle"></i>
            This is an info message.
            <i class="hide_not fas fa-times"></i>
        </div>

        <div class="msg success-msg">
            <i class="fas fa-check"></i>
            This is a success message.
            <i class="hide_not fas fa-times"></i>
        </div>

        <div class="msg warning-msg">
            <i class="fas fa-exclamation-triangle"></i>
            This is a warning message.
            <i class="hide_not fas fa-times"></i>
        </div>

        <div class="msg error-msg">
            <i class="fas fa-times-circle"></i>
            This is a error message.
            <i class="hide_not fas fa-times"></i>
        </div>
    </div> -->
    <!------------ END alerts  ----------------->

    <!--------------------- start scripts  --------------->
    <script src="./plugins/jquery.js" defer></script>
    <script src="./plugins/jquery.nicescroll.min.js" defer></script>
    <script src="./plugins/bootstrap.min.js"></script>
    <script src="./js/meeting.js" defer></script>
    <script src="./js/loadingpage.js" defer></script>
    <script src="./js/alert.js" defer></script>
    <script src="./js/scrollCustom.js" defer></script>
    <!--------------------- end scripts  ------------------>
</body>

</html>